<!DOCTYPE html>
<html data-ng-app="rruleApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>RRULE Parser</title>
	<meta name="description" content="Recurrencd Rule (RRULE) parser based in iCalendar RFC 5545 specification">
	<meta name="keywords" content="rrule, icalendar, RFC 5545, recurrence rule, icalendarfx, java, jfxtras">
	<meta name="author" content="David Bal">
	<link rel="stylesheet" type="text/css" href="css/rrule.css"/>
	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/jquery.js"></script>
	<script type="text/javascript" src="js/Controller.js"></script>
</head>

<body  data-ng-controller="RRuleController" >
	<table id="resultTable">
		<thead>
			<tr>
				<th>Date/time</th>
			</tr>
		</thead>
		<tbody id="resultTableBody">
			<tr data-ng-repeat="recurrence in recurrences">
				<td>{{ recurrence }}</td>
			</tr>
		</tbody>	
	</table>

	<div id="builderControl" data-ng-cloak>
		Repeat Frequency:
		<select required id="freq" data-ng-model="frequency">
			<optgroup label="Day based">
				<option value="DAILY">Daily</option>
				<option value="WEEKLY">Weekly</option>
				<option value="MONTHLY">Monthly</option>
				<option value="YEARLY">Yearly</option>
			</optgroup>
			<optgroup label="Day fraction based">
				<option value="SECONDLY">Secondly</option>
				<option value="MINUTELY">Minutely</option>
				<option value="HOURLY">Hourly</option>
			</optgroup>
		</select>
		<br>
		Repeats every<input type="number" data-ng-model="interval" id="interval" min="1" max="1000" value="1"><span id='intervalType'></span><br>
		<span class="options" data-ng-style="weeklyDisplayStyle">
			<input type="checkbox" data-ng-model="daysOfWeek[0]" data-ng-value="daysOfWeek[0]">{{daysOfWeekDisplay[0]}}
	  		<input type="checkbox" data-ng-model="daysOfWeek[1]" data-ng-value="daysOfWeek[1]">{{daysOfWeekDisplay[1]}}
			<input type="checkbox" data-ng-model="daysOfWeek[2]" data-ng-value="daysOfWeek[2]">{{daysOfWeekDisplay[2]}}
	  		<input type="checkbox" data-ng-model="daysOfWeek[3]" data-ng-value="daysOfWeek[3]">{{daysOfWeekDisplay[3]}}
			<input type="checkbox" data-ng-model="daysOfWeek[4]" data-ng-value="daysOfWeek[4]">{{daysOfWeekDisplay[4]}}
	  		<input type="checkbox" data-ng-model="daysOfWeek[5]" data-ng-value="daysOfWeek[5]">{{daysOfWeekDisplay[5]}}
	  		<input type="checkbox" data-ng-model="daysOfWeek[6]" data-ng-value="daysOfWeek[6]" >{{daysOfWeekDisplay[6]}}
	  		<br>
  		</span>
  
		<span class="options" data-ng-style="monthlyDisplayStyle">
			<input type="radio" data-ng-model="monthlyOption" name="monthlyRadioButtons" data-ng-value="monthlyOptions.DAY_OF_MONTH">Day of month
	  		<input type="radio" data-ng-model="monthlyOption" name="monthlyRadioButtons" data-ng-value="monthlyOptions.DAY_OF_WEEK">Day of week
	  		<br>
  		</span>
  		
		Start date<input type="date" data-ng-model="date" >
		Start time<input type="time" data-ng-model="date" step="1">
		<br>
		
		Ends:
		<input type="radio" data-ng-model="endOption" name="endRadioButtons" data-ng-value="endOptions.NEVER">Never
  		<input type="radio" data-ng-model="endOption" name="endRadioButtons" data-ng-value="endOptions.COUNT">After
  		<input type="radio" data-ng-model="endOption" name="endRadioButtons" data-ng-value="endOptions.UNTIL">On
  		<br>
  		<span class="options" data-ng-style="countDisplayStyle">
  			<input type="number" data-ng-model="count" min="1" max="1000" value="10">
  			<label data-ng-value="countLabel"></label><br>
  		</span>
  		<span class="options" data-ng-style="untilDisplayStyle">
  			End date<input type="date" data-ng-model="until"><br>
  		</span>
	</div>

 	<form id="rruleForm" action="RRuleServlet" method="get">
		<div id="rrule">
			RRULE <input type="text" size="53" id="rruleContent" name="rrule" data-ng-value="makeRRule()" ><br>
			DTSTART <input type="text" size="50" id="dtstartContent" name="dtstart" value="DTSTART:20170101T120000" ><br>
			Max Recurrences Displayed<input type="number" id="maxRecurrences" name="maxRecurrences" min="1" max="1000" value="50"><br>
			<button id="submitButton">Submit</button>
		</div>
	</form>

	</div>
</body>
</html>