<!DOCTYPE html>
<html data-ng-app="rruleApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>RRULE Parser</title>
	<meta name="description" content="Recurrencd Rule (RRULE) parser based in iCalendar RFC 5545 specification">
	<meta name="keywords" content="rrule, icalendar, RFC 5545, recurrence rule, icalendarfx, java, jfxtras">
	<meta name="author" content="David Bal">
	<link rel="stylesheet" type="text/css" href="css/rrule.css"/>
	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/jquery.js"></script>
	<script type="text/javascript" src="js/Controller.js"></script>
</head>

<body  data-ng-controller="RRuleController" >
	<div id="builderControl" data-ng-cloak>
        <!-- Frequency Options (e.g. Daily, Weekly, etc.) -->
		Repeat Frequency:
		<select
		    data-ng-model="frequency" 
		    data-ng-options="f.name group by f.type for f in frequencies">
		</select>
		<br>
		Repeats every
		<input 
            data-ng-model="interval" 
            type="number"
            id="interval" 
            min="1" 
            max="1000" 
            value="1"
         >
         <span id='intervalType'></span><br>
		
		<!-- Days of Week check boxes (e.g. Mon, Tues, etc.) -->
		<span data-ng-show="weeklyOptionsShow()">
			<label data-ng-repeat="dayOfWeek in daysOfWeek">
				<input
				    type="checkbox"
				    name="dayOfWeekCheckBoxes"
				    data-ng-checked="daysOfWeekSelection.indexOf(dayOfWeek) > -1"
				    data-ng-click="toggleDayOfWeekSelection(dayOfWeek)"
				  > {{ dayOfWeek }}
			</label>
			<br>
		</span>

        <!-- Monthly options check boxes (day-of-month and day-of-week) -->  
		<span data-ng-show="monthlyOptionsShow()">
			<input type="radio" data-ng-model="monthlyOption" name="monthlyRadioButtons" data-ng-value="monthlyOptions.DAY_OF_MONTH">Day of month
	  		<input type="radio" data-ng-model="monthlyOption" name="monthlyRadioButtons" data-ng-value="monthlyOptions.DAY_OF_WEEK">Day of week
	  		<br>
  		</span>

		Start date<input type="date" data-ng-model="date" >
		Start time<input type="time" data-ng-model="date" step="1">
		<br>

        <!--End options (e.g. Never, After, On) -->		
		Ends:
        <label data-ng-repeat="endOption in endOptions">
            <input
                type="radio"
                name="endOptionRadioButtons"
                data-ng-model="$parent.endOptionSelected"
                data-ng-value="endOption"
              > {{ endOption }}
        </label>
        <br>

  		<span class="options" data-ng-style="countDisplayStyle">
  			<input type="number" data-ng-model="count" data-ng-change="handleCountChange()" min="1" max="1000" value="10">{{ countLabel }}
  		</span>
  		<span class="options" data-ng-style="untilDisplayStyle">
  			End date<input type="date" data-ng-model="until"><br>
  		</span>
	</div>

 	<form id="rruleForm" action="RRuleServlet" method="get">
		<div id="rrule">
			RRULE <input type="text" size="53" id="rruleContent" name="rrule" data-ng-value="makeRRule()" ><br>
			DTSTART <input type="text" size="50" id="dtstartContent" name="dtstart" value="DTSTART:20170101T120000" ><br>
			Max Recurrences Displayed<input type="number" id="maxRecurrences" name="maxRecurrences" min="1" max="1000" value="50"><br>
			<button id="submitButton">Submit</button>
		</div>
	</form>

	</div>
</body>
</html>